

#[multi_pin controller_fans]
#pins: PE6,PE0

[controller_fan controller_fan]
##  Controller fan
#pin: multi_pin:controller_fans
pin: PE6
max_power: 0.4
kick_start_time: 0.5
heater: heater_bed

[fan_generic bedfans]
#  Exhaust fan - In E2 OUT Positon
pin: PE0
max_power: 1.0
shutdown_speed: 0.0
kick_start_time: 5.0
#heater: heater_bed
#heater_temp: 60
#fan_speed: 1.0

#[heater_fan nevermore_fan]
[fan_generic nevermore]
#  Exhaust fan - Nevermore Filter
pin: PC12
max_power: 1.0
shutdown_speed: 0.0
kick_start_time: 5.0
#heater: heater_bed
#heater_temp: 60
#fan_speed: 0.5 