[include mainsail.cfg]
[include config_backup.cfg]
[include KAMP_Settings.cfg]
[include logging.cfg]
[include variables.cfg]
[include hardware/display.cfg]
[include hardware/motion.cfg]
[include hardware/toolhead.cfg]
[include hardware/heatbed.cfg]
[include hardware/leds.cfg]
[include hardware/stealthburner_leds.cfg]
[include hardware/fans.cfg]
[include hardware/sensors.cfg]
[include helpers/air_filter_timer.cfg]
[include helpers/tuning_macros.cfg]
[include helpers/nozzle_cleaning.cfg]
[include helpers/TEST_SPEED.cfg]
[include helpers/movement.cfg]
[include printing/printing_macros.cfg]
[include printing/gcode_extensions.cfg]
[include printing/filament_macros.cfg]

[virtual_sdcard]
path: ~/printer_data/gcodes
on_error_gcode:
  CANCEL_PRINT

[idle_timeout]
gcode:
   DISABLE_FANS
timeout: 600

#####################################################################
#   UUID Setting
#####################################################################
[mcu]
#serial: usb-Klipper_stm32g0b1xx_290040000A50415833323720-if00
canbus_uuid: 8b5aa13b8e7b

[mcu EBBCan]
canbus_uuid: d6c7b1b0e88b

# host MCU service is preinstalled and ready to use with:
[mcu CB1]
serial: /tmp/klipper_host_mcu

[printer]
kinematics: corexy
max_velocity: 500 #300  
max_accel: 3100 #8000    	
max_z_velocity: 25 			
max_z_accel: 350
square_corner_velocity: 5.0

# Enable object exclusion
[exclude_object]

# Enable arcs support
[gcode_arcs]
resolution: 0.3

[save_variables]
filename: ~/printer_data/config/saved_variables.cfg

[probe]
pin: ^EBBCan: PB5
# -0.84 => 1 - samples_tolerance - klipper 0.1 kompensation
#z_offset = -0.84
#z_offset = -1
z_offset = -0.915
speed: 10.0
samples: 3
samples_result: median
sample_retract_dist: 3.0
samples_tolerance: 0.06
samples_tolerance_retries: 3

activate_gcode:
    {% set PROBE_TEMP = 150 %}
    {% set MAX_TEMP = PROBE_TEMP + 5 %}
    {% set ACTUAL_TEMP = printer.extruder.temperature %}
    {% set TARGET_TEMP = printer.extruder.target %}

    {% if TARGET_TEMP > PROBE_TEMP %}
        { action_respond_info('Extruder temperature target of %.1fC is too high, lowering to %.1fC' % (TARGET_TEMP, PROBE_TEMP)) }
        M109 S{ PROBE_TEMP }
    {% else %}
        # Temperature target is already low enough, but nozzle may still be too hot.
        {% if ACTUAL_TEMP > MAX_TEMP %}
            { action_respond_info('Extruder temperature %.1fC is still too high, waiting until below %.1fC' % (ACTUAL_TEMP, MAX_TEMP)) }
            TEMPERATURE_WAIT SENSOR=extruder MAXIMUM={ MAX_TEMP }
        {% endif %}
    {% endif %}

[settling_probe]
settling_sample: True
#   Globally enable the throw-away settling sample. Default is 'False'.
#   Setting this to 'True' will enable the throw-away sample for all
#   commands/operations that perform Z probing (QGL, Z tilt, Bed Mesh,
#   Screw Tilt, etc.)

#####################################################################
#	Layer chage Routines
#####################################################################
[gcode_macro BEFORE_LAYER_CHANGE]
gcode: 
    LOG_VERBOSE MSG="BEFORE_LAYER_CHANGE executing"
    TIMELAPSE_TAKE_FRAME

[gcode_macro AFTER_LAYER_CHANGE]
gcode:

#####################################################################
#   Misc
#####################################################################
#[gcode_macro PARK]
#gcode:
#    {% set th = printer.toolhead %}
#    G0 X{th.axis_maximum.x//2} Y{th.axis_maximum.y//2} Z30  

[gcode_macro G32]
gcode:
    SAVE_GCODE_STATE NAME=STATE_G32
    G90
    G28
    QUAD_GANTRY_LEVEL
    G28
    PARK
    RESTORE_GCODE_STATE NAME=STATE_G32

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 22.011
#*# pid_ki = 2.010
#*# pid_kd = 60.255
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 52.776
#*# pid_ki = 2.046
#*# pid_kd = 340.404
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.055000, 0.017500, -0.005000
#*# 	  0.002500, 0.007500, 0.007500
#*# 	  -0.000000, 0.032500, 0.005000
#*# 	  -0.025000, 0.020000, 0.010000
#*# 	  0.002500, 0.025000, 0.012500
#*# x_count = 3
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 105.49
#*# max_x = 169.34
#*# min_y = 107.2
#*# max_y = 242.44
#*#
#*# [input_shaper]
#*# shaper_type_x = zv
#*# shaper_freq_x = 53.6
#*# shaper_type_y = ei
#*# shaper_freq_y = 41.0
