#[controller_fan electronics_cooling_fan]
#pin: PB15
#fan_speed: 0.6
#max_power: 1
#heater: heater_bed

[heater_fan electronics_cooling_fan]
pin: PB15
fan_speed: 0.9
heater: heater_bed
heater_temp: 50.0

[temperature_sensor raspberry_pi]
sensor_type: temperature_host
min_temp: 0
max_temp: 200

[temperature_sensor mcu_temp]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 200