[heater_bed]
heater_pin: PB5
sensor_type: Generic 3950
sensor_pin: PA0
max_power: 1.0
min_temp: 0
max_temp: 130
#control: pid
#pid_kp: 58.437
#pid_ki: 2.347
#pid_kd: 363.769

[temperature_sensor buildplate]
sensor_type: Generic 3950
sensor_pin: PA1
min_temp: -40
max_temp: 130

[safe_z_home]
home_xy_position:175,175
speed:100
z_hop:5

[bed_mesh]
speed: 200
horizontal_move_z: 5
mesh_min: 10,10
mesh_max: 340,340
probe_count: 9,9
algorithm: bicubic
bicubic_tension: 0.2