#####################################################################
# 	X/Y Stepper Settings
#####################################################################

## X Stepper on Motor1(B Motor)
[stepper_x]
step_pin: PE2
dir_pin: !PB4
enable_pin: !PC11
microsteps: 64
rotation_distance: 40
endstop_pin: ^EBBCan: PB6
position_min: 0
position_endstop: 350
position_max: 350

##--------------------------------------------------------------------
homing_speed: 100   #Max 100
homing_retract_dist: 5
homing_positive_dir: true

#[tmc2209 stepper_x]
#uart_pin: PC10
#interpolate: False
#run_current: 1.2
#sense_resistor: 0.110
#stealthchop_threshold: 0

[tmc5160 stepper_x]
cs_pin: PC10
spi_software_mosi_pin: PA7
spi_software_miso_pin: PA6
spi_software_sclk_pin: PA5
#spi_bus: spi1
#diag1_pin: PF3
interpolate: False
#run_current: 1.2
run_current: 0.6
hold_current: 0.2
sense_resistor: 0.110
stealthchop_threshold: 0




## Y Stepper on Motor2 (A Motor)
[stepper_y]
step_pin: PF12
dir_pin: !PF11
enable_pin: !PB3
microsteps: 64

rotation_distance: 40
endstop_pin: ^PF4
position_min: 0
position_endstop: 350
position_max: 350

##--------------------------------------------------------------------
homing_speed: 100  #Max 100
homing_retract_dist: 5
homing_positive_dir: true

#[tmc2209 stepper_y]
#uart_pin: PF13
#interpolate: False
#run_current: 1.2
#sense_resistor: 0.110
#stealthchop_threshold: 0

[tmc5160 stepper_y]
cs_pin: PF13
spi_software_mosi_pin: PA7
spi_software_miso_pin: PA6
spi_software_sclk_pin: PA5
#diag1_pin: PF4
interpolate: False
#run_current: 1.2
run_current: 0.6
hold_current: 0.2
sense_resistor: 0.110
stealthchop_threshold: 0



#####################################################################
# 	Z Stepper Settings
#####################################################################

## Z0 Stepper - Front Left on MOTOR3
[stepper_z]
step_pin: PD7
dir_pin: !PD6
enable_pin: !PF10
rotation_distance: 40
gear_ratio: 80:16
microsteps: 16
#endstop_pin: ^PF5
endstop_pin: probe:z_virtual_endstop
position_max: 340

##--------------------------------------------------------------------
position_min: -5
homing_speed: 8
second_homing_speed: 3
homing_retract_dist: 3

[tmc2209 stepper_z]
uart_pin: PF9
interpolate: True
run_current: 1.0
sense_resistor: 0.110
stealthchop_threshold: 0



##	Z1 Stepper - Rear Left on Motor4
[stepper_z1]
step_pin: PD3
dir_pin: PD2
enable_pin: !PD5
rotation_distance: 40
gear_ratio: 80:16
microsteps: 16

[tmc2209 stepper_z1]
uart_pin: PD4
interpolate: True
run_current: 1.0
sense_resistor: 0.110
stealthchop_threshold: 0


##	Z2 Stepper - Rear Right on Motor5
[stepper_z2]
step_pin: PC9
dir_pin: !PC8
enable_pin: !PD1
rotation_distance: 40
gear_ratio: 80:16
microsteps: 16

[tmc2209 stepper_z2]
uart_pin: PD0
interpolate: True
run_current: 1.0
sense_resistor: 0.110
stealthchop_threshold: 0



##	Z3 Stepper - Front Right on Motor6
[stepper_z3]
step_pin: PA10
dir_pin: PA14
enable_pin: !PA15
rotation_distance: 40
gear_ratio: 80:16
microsteps: 16

[tmc2209 stepper_z3]
uart_pin: PF8
interpolate: True
run_current: 1.0
sense_resistor: 0.110
stealthchop_threshold: 0