[include fly_sb2040_v1.cfg]

#####################################################################
#      X/Y Stepper Settings
#####################################################################
[stepper_x]
step_pin: PB10
dir_pin: PB2
enable_pin: !PB11
microsteps: 16
rotation_distance: 40
endstop_pin: SB2040v1:LIMIT_2
position_endstop: 0
position_max: 230
homing_speed: 50

[tmc2209 stepper_x]
uart_pin: PC10
run_current: 0.800
interpolate: True
sense_resistor: 0.110
stealthchop_threshold: 0

[stepper_y]
step_pin: PC6
dir_pin: PA14
enable_pin: !PC7
microsteps: 16
rotation_distance: 40
endstop_pin: ^PC15
position_endstop: 0
position_max: 225
homing_speed: 50

[tmc2209 stepper_y]
uart_pin: PB12
run_current: 0.800
interpolate: True
sense_resistor: 0.110
stealthchop_threshold: 0

#####################################################################
#      Z Stepper Settings
#####################################################################

[stepper_z]
step_pin: PB0
dir_pin: !PC5
enable_pin: !PB1
rotation_distance: 4
microsteps: 32
endstop_pin: probe:z_virtual_endstop # Comment when using the mechanical endstop switch.
position_max: 240
position_min: -10
homing_speed: 5
second_homing_speed: 3
homing_retract_dist: 3

[tmc2209 stepper_z]
uart_pin: PC9
run_current: 0.800
interpolate: True
sense_resistor: 0.110
stealthchop_threshold: 0

[stepper_z1]
step_pin: PB3
dir_pin: !PB4
enable_pin: !PD5
rotation_distance: 4
microsteps: 32

[tmc2209 stepper_z1]
uart_pin: PA13
run_current: 0.800
interpolate: True
sense_resistor: 0.110
stealthchop_threshold: 0