[mcu eddy]
serial: /dev/serial/by-id/usb-Klipper_rp2040_45474E621B07DC0A-if00

[temperature_sensor btt_eddy_mcu]
sensor_type: temperature_mcu
sensor_mcu: eddy
min_temp: 10
max_temp: 110

[probe_eddy_current btt_eddy]
sensor_type: ldc1612
#z_offset: 2.3
z_offset: 0.9
#i2c_address:
i2c_mcu: eddy
i2c_bus: i2c0f
x_offset: 0 # Set according to the actual offset relative to the nozzle
y_offset: 20 # Set according to the actual offset relative to the nozzle
data_rate: 500

[temperature_probe btt_eddy]
sensor_type: Generic 3950
sensor_pin: eddy:gpio26
horizontal_move_z: 2

[bed_mesh]
speed: 150
algorithm: bicubic
horizontal_move_z: 2
mesh_min: 10, 75
mesh_max: 220, 245
probe_count: 10

[z_tilt]
speed: 100
z_positions:
    210,150
      20,150
points:
   225,150
    5,150
retries: 20
retry_tolerance: 0.01
horizontal_move_z: 10

[gcode_macro fastmeshbed]
gcode:
  _CG28
  Z_TILT_ADJUST
  BED_MESH_CALIBRATE METHOD=scan SCAN_MODE=rapid