[temperature_sensor chamber]
sensor_type: Generic 3950
sensor_pin: PC5
min_temp: -40
max_temp: 100

[temperature_sensor EBB_NTC]
sensor_type: Generic 3950
sensor_pin: EBBCan:gpio28
min_temp: -40
max_temp: 100

[temperature_sensor extrusions]
sensor_type: Generic 3950
sensor_pin: PC4
min_temp: -40
max_temp: 100

[delayed_gcode _start_fff_buffer]
initial_duration: 1
gcode:
      SET_FAN_SPEED FAN=_FFF_buffer SPEED=1

[fan_generic _FFF_buffer]
pin: PA0
max_power: 1.0
shutdown_speed: 0.0

[filament_switch_sensor Material_breakage_detection]
pause_on_runout: true
switch_pin: ^PF0   # Please replace with the actual pin you are using
runout_gcode:
    PAUSE
    RESPOND MSG="Filament runout detected, printing paused"
insert_gcode:
    RESPOND MSG="Filament inserted, ready to resume printing"
event_delay: 2.0    # Event trigger delay (seconds)
pause_delay: 2.0     # Pause command delay (seconds)
debounce_delay: 2.0  # Debounce delay (seconds)

[filament_motion_sensor Material_stall_detection]
switch_pin: PC15
detection_length: 2.88
extruder: extruder
pause_on_runout: False
runout_gcode:
  PAUSE # [pause_resume] is required in printer.cfg
  M117 Filament encoder runout
insert_gcode:
  M117 Filament encoder inserted

[temperature_sensor CB2]
sensor_type: temperature_host

[delayed_gcode DISABLEFILAMENTSENSOR] ; This will disable the SFS 1 second after klipper starts
initial_duration: 1
gcode:
      FILAMENT_MOTION_SENSOR_DISABLE

[gcode_macro FILAMENT_MOTION_SENSOR_ENABLE] ; Add this to PRINT_START
description: Enable smart filament sensor
gcode:
    LOG_DEBUG MSG="ENABLING the encoder sensor"
    #G92 E0
    #SET_FILAMENT_SENSOR SENSOR=Material_stall_detection ENABLE=1 ; Put your filament sensor's name after SENSOR=

[gcode_macro FILAMENT_MOTION_SENSOR_DISABLE] ; Add this to PRINT_END and PRINT_CANCEL
description: Disable smart filament sensor 
gcode:
    LOG_DEBUG MSG="DISABLING the encoder sensor"
    #G92 E0
    #SET_FILAMENT_SENSOR SENSOR=Material_stall_detection ENABLE=0 ; Put your filament sensor's name after SENSOR=