[gcode_macro ADXL_SHAPE_ALL]
description: Test resonances for both axis
gcode:
    M118 DO NOT TOUCH THE PRINTER UNTIL DONE!!!
#    HOME_IF_NEEDED
	# Homes the printer, sets absolute positioning and updates the Stealthburner leds.
    LOG_DEBUG MSG="Homing"
    STATUS_HOMING         # Sets SB-leds to homing-mode
    LOG_VERBOSE MSG="Full home XYZ"
    G28                   # Full home (XYZ)
    LOG_VERBOSE MSG="Absolut position"
    G90                   # Absolut position
    
    SHAPER_CALIBRATE AXIS=x
    SHAPER_CALIBRATE AXIS=y
#    RUN_SHELL_COMMAND CMD=adxl_shape_x
#    RUN_SHELL_COMMAND CMD=adxl_shape_y
    M118 Test done
#    SAVE_AND_RESTART