[gcode_macro M600]
gcode:
    LOG_DEBUG MSG="M600, start filament change"
    {% set X = params.X|default(50)|float %}
    {% set Y = params.Y|default(0)|float %}
    {% set Z = params.Z|default(10)|float %}
    LOG_DEBUG MSG="params: X={X}, Y={Y}, Z={Z}" 
    SAVE_GCODE_STATE NAME=M600_state
    PAUSE
    G91
    G1 E-.8 F2700
    G1 Z{Z}
    G90
    G1 X{X} Y{Y} F3000
    G91
    G1 E-50 F1000
    RESTORE_GCODE_STATE NAME=M600_state

[gcode_macro M900]
gcode:
	# Parameters
	{% set pa = params.K|float %}
	
	SET_PRESSURE_ADVANCE ADVANCE={pa}

[gcode_macro M109]
rename_existing: M99109
gcode:
    #Parameters
    {% set s = params.S|float %}
    
    M104 {% for p in params %}{'%s%s' % (p, params[p])}{% endfor %}  ; Set hotend temp
    {% if s != 0 %}
        TEMPERATURE_WAIT SENSOR=extruder MINIMUM={s} MAXIMUM={s+1}   ; Wait for hotend temp (within 1 degree)
    {% endif %}

[gcode_macro M190]
rename_existing: M99190
gcode:
    #Parameters
    {% set s = params.S|float %}

    M140 {% for p in params %}{'%s%s' % (p, params[p])}{% endfor %}   ; Set bed temp
    {% if s != 0 %}
        TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM={s} MAXIMUM={s+1}  ; Wait for bed temp (within 1 degree)
    {% endif %}

# Replacement-Macro to control the Fan with M106 P2 and M107 for BambuStudio
# Macro inspired by klipper-github issue https://github.com/Klipper3d/klipper/issues/2174
[gcode_macro M106]
rename_existing: G106
gcode:
    {% set P = params.P | default(0) | int %}
    {% set S = params.S | default(255) | int %}
    {% if P == 0 %}
        G106 S{S}
      {% if S > 150 %}
        SET_FAN_SPEED FAN=RSCS SPEED={S / 255}
      {% else %}
        SET_FAN_SPEED FAN=RSCS SPEED=0
      {% endif %}
    {% else %}
        SET_FAN_SPEED FAN=RSCS SPEED={S / 255}
    {% endif %}

[gcode_macro M107]
rename_existing: G107
gcode:
    {% set fan = params.P|default(1)|int %}
	{% if fan == 2 %}
		SET_FAN_SPEED FAN=RSCS SPEED=0
	{% elif fan == 3 %}
		#SET_FAN_SPEED FAN=Exhaust_fan SPEED=0   
	{% else %}
	  SET_FAN_SPEED FAN=RSCS SPEED=0  
	  #SET_FAN_SPEED FAN=Exhaust_fan SPEED=0  
	  G107
	{% endif %}